#root {
  font-family: "Roboto-Bold";
  font-family: "Roboto Condensed Bold";
  font-family: "Roboto Condensed Regular";
  font-family: "Roboto-Regular";
}
/* HEADER */
header {
  background-color: black;
  color: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
}

header span:hover {
  color: rgb(255, 0, 0);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}
.container {
  max-width: 1200px;

  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header img {
  height: 75px;
}

header .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .menu button {
  margin-left: px;
}
.link {
  margin-top: 10px;
  font-family: "Roboto Bold";
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: white;
}
/* COMICS */

.comics {
  margin-top: 50px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.comics-character {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.comics-character img {
  width: 222px;
  height: 335px;
  object-fit: cover;
  margin-bottom: 25px;
  box-shadow: 0 10px 15px rgb(171, 171, 171);
}
.comics img {
  width: 222px;
  height: 335px;
  object-fit: cover;
}

.card {
  width: 222px;
  height: 415px;
  margin-bottom: 30px;
  font-family: "Roboto Condensed Bold";
}

.card-comics {
  width: 700px;
  height: 350px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 10px 15px rgb(171, 171, 171);
}

.card-comics img {
  width: 260x;
  height: 320px;
}

.text-comics {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-comics p {
  font-family: "Roboto Condensed Regular";
  letter-spacing: 0.5px;
  font-size: 14px;
  color: grey;
  -webkit-line-clamp: 13;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
}

.text-comics h2 {
  font-size: 16px;
  font-family: "Roboto Condensed Bold";
}

.text-comics button {
  background-color: black;
  border: none;
  color: lightgrey;
  cursor: pointer;
}

.title-character {
  margin-top: 50px;
  font-size: 26px;
  text-decoration: overline;
}
/* TOOL BAR */
.topmain {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.topmain select {
  border: 1 solid rgb(186, 185, 185);
  border-radius: 5px;
  width: 150;
  height: 30px;
  background-color: #f2f2f2;
  text-align: center;
  color: grey;
  padding: 5px;

  border: none;
}

.topmain input {
  position: relative;
  width: 50%;
  height: 40px;

  margin-top: 40px;
  border-bottom: 2px solid grey;
}

.search {
  border: none;
  font-family: "Roboto Condensed Regular";
  font-size: 26px;
}

.search:focus {
  outline-color: orange;
  border-radius: 5px;
}

/* CHARACTER */

.character {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  margin-top: 50px;
  gap: 18px;
}

.character img {
  width: 225px;
  height: 175px;
  object-fit: cover;
  display: flex;
  align-items: center;
  border-bottom: 5px solid red;
}

.character .slide {
  width: 225px;
  height: 175px;
  background-color: black;
  color: white;
  padding: 15px;
  box-sizing: border-box;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slide h2 {
  font-family: "Roboto Condensed Bold";
  font-size: 16px;
}

.slide p {
  font-family: "Roboto Condensed Regular";

  font-size: 14px;
  opacity: 50%;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 1px;
}

.fiche-hero {
  margin: 0 auto;
  width: 900px;
  height: 500px;

  display: flex;
  align-items: center;
  gap: 50px;
  background-color: black;
  color: white;
  box-shadow: 0 0 5px black;
}

.fiche-hero a {
  width: 300px;
  font-size: 20px;
}
.fiche-hero img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}
.biography {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 20px;
}

.biography h3 {
  font-family: "Roboto Condensed Bold";
  font-size: 26px;
}

.biography div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.biography div span {
  text-decoration: overline;
  font-size: 14px;
  color: grey;
}

.hero {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.biography .favorite button {
  border: none;
  background-color: black;
  color: rgb(190, 190, 190);
  cursor: pointer;
}

.biography .favorite {
  margin-top: 100px;
}
.favorite {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: rgb(190, 190, 190);
}

.favorite span:hover {
  color: red;
  cursor: pointer;
}

.slide button {
  color: rgb(190, 190, 190);
  font-family: "Roboto-Regular";
  border: none;
  background-color: black;
  text-align: center;
  cursor: pointer;
}
.fa-heart {
  font-size: 18px;
}
.favorite button {
  width: 20px;
}
.fa-heart:hover {
  color: rgb(255, 7, 7);
}

.red {
  color: rgb(255, 7, 7);
}

.grey {
  color: rgb(190, 190, 190);
}

header button {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
}

.autorisation {
  margin-left: 100px;
}

header button:hover {
  color: rgb(255, 0, 0);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.signup {
  width: 100%;
  min-height: 100vh;
  background-color: black;
}

form {
  position: relative;
  margin: 0 auto;
  padding-top: 200px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
}

form input {
  border: none;
  border-bottom: 1px solid white;
  width: 450px;
  height: 50px;
  color: lightgrey;
  background-color: black;
  font-size: 14px;
  padding-left: 15px;
  font-family: "Roboto-Regular";
}

form button {
  width: 250px;
  height: 50px;
  font-family: "Roboto Condensed Bold";
  font-size: 18px;
  color: lightgrey;
  border: none;
  background-color: rgb(144, 0, 0);
}

form input:focus {
  outline-color: orange;
  border-radius: 5px;
}

.banner {
  height: 60vh;
  background-image: url("./assets/images/spiderman.jpeg");
  background-color: rgba(0, 0, 255, 0.3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.news p {
  text-decoration: overline;
  font-size: 14px;
  color: rgb(255, 0, 0);
}

/* FAVORITES */

ul {
  font-size: 20px;
  margin-left: 150px;
  margin-top: 100px;
  height: 60px;
  margin-bottom: 150px;
}

li {
  margin: 50px;
  list-style: square;
  color: black;
}

.favorite-image {
  box-shadow: 0 0 5px rgb(2, 2, 2);
}

h4 {
  margin-top: 150px;
  margin-left: 200px;

  font-size: 26px;
  text-decoration: overline;
}

.favorites-character {
  display: flex;
  flex-wrap: wrap;
}

.favorites-character div {
  width: 250px;
  height: 400px;
}

.favorites-character img {
  width: 250px;
  height: 350px;
}

.comics-fav {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}

.white {
  font-size: 18px;
  color: white;
  text-align: end;
  cursor: pointer;
}

.white:hover {
  color: red;
}

.card-comics-fav {
  box-shadow: 0 10px 15px rgb(171 171 171);
}
.card-comics-fav div {
  box-sizing: border-box;

  padding-right: 30px;
  width: 580px;
  height: 300px;
  background-color: black;
  color: white;
  display: flex;
}

.card-comics-fav span {
  margin-top: 28px;
  cursor: pointer;
  font-size: 18px;
}

.card-comics-fav span:hover {
  color: red;
}
.card-comics-fav img {
  width: 220px;
  height: 300px;
  object-fit: cover;
  margin-right: 30px;
}
.card-comics-fav h2,
.card-comics-fav p {
  margin-top: 30px;

  -webkit-line-clamp: 15;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

h1 {
  font-size: 24px;
  text-decoration: overline;
  margin-top: 30px;
  margin-bottom: 30px;
}

.fav {
  margin-top: 0;
}

.show {
  display: none;
}
/* FOOTER */

footer {
  color: white;

  font-size: 14px;
}

.bottom-page {
  height: 60px;
  background-color: black;
  display: flex;

  align-items: center;
  justify-content: center;
}

.pages button {
  margin-top: 15px;
  font-size: 14px;
  border: none;
  background-color: white;
}

.pages button:active {
  font-family: "Roboto-Bold";
  color: red;
}

@media (max-width: 1184px) {
  .container {
    padding: 0 30px;
  }
  .show {
    display: none;
  }
}

@media (max-width: 1024px) {
  header img {
    margin-right: 30px;
  }

  header .menu {
    gap: 30px;
  }
  .show {
    display: none;
  }
}
@media (max-width: 1024px) {
  header .container {
    display: flex;
    justify-content: space-between;
  }
  .autorisation {
    margin-left: 30px;
    display: flex;
  }
  .fiche-hero {
    width: 768px;
    height: 300px;
  }

  .fiche-hero img {
    height: 300px;
  }
  .show {
    display: flex;
  }

  .hidden {
    display: none;
  }
  header .menu {
  }

  .autorisation span {
    margin-right: 19px;
  }

  .character img {
    width: 200px;
  }

  .character .slide {
    width: 200px;
  }

  .card-comics-fav div {
    width: 635px;
    height: 250px;
  }

  .card-comics-fav img {
    height: 250px;
  }
}
